header {
    text-align: center;
}
header img {
    height: 200px;
    width: 200px;
}
body {
    background-color: burlywood;
}
footer {
    background: grey;
    text-align: center;
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
}
header h1 {
    font-size: 60px;
}
li a {
    color: whitesmoke;
}
.brown .nav-item a:hover {
    background-color: rgb(243, 207, 207);
    color: whitesmoke;
}
.brown .active a, .brown .active a:hover {
    background-color: brown;
    color: whitesmoke;
}