@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);
body {
    width: 100%;
    height: 100%;
    background-color: burlywood;
}
.center {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 25%;
  }
.my-subheader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}
header h1 {
    font-size: 30   px;
    font:bold 7.5vw/1.6 'Signika', sans-serif;
    user-select:none;
    text-align: center;
}
header h1:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}
header h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
}
footer {
    background: #784321;
    color: whitesmoke;
    position: relative; 
    bottom: 0px; 
    width: 100%; 
    height: 40px;
    margin-top: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.my-col {
    border-style: outset;
    margin: 2px 0px 2px 0;
}
.my-col img {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-product {
    border-style: outset;
    margin: 5px 5px 5px 0;
}
.my-product h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
}
li a {
    color: whitesmoke;
}
.nav .nav-item a:hover {
    background-color: rgb(243, 207, 207);
    color: whitesmoke;
}
.nav .active a, .nav .active a:hover {
    background-color: brown;
    color: whitesmoke;
}
.about-us {
    text-align: justify;
}
.contact-us {
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .line {
        display: block;
    }
  }
@media only screen and (max-width: 600px) {
    .center {
        width: 150px;
        height: 150px;
    }
  }
.specs {
    position: static;
    bottom: 0;
    right: 0;
}
.my-button {
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
h1 span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
h1 span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
h1 span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }
h1 span:nth-child(10){ animation-delay:.45s; }
h1 span:nth-child(11){ animation-delay:.5s; }
h1 span:nth-child(12){ animation-delay:.55s; }
h1 span:nth-child(13){ animation-delay:.6s; }
h1 span:nth-child(14){ animation-delay:.65s; }